/* Pre ajustes */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    /* overflow-x: hidden; */
}

body {
    /* border: 2px dotted green; */
    margin: 25px;
}

#btn {
    border-radius: 50px;
    border: 2px solid #000000;
    font-size: x-large;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 15px 32px;
}

#btn:hover {background-color: lightgrey;}

#btn:active {
    background-color: lightgray;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

#table {
    border: 3px solid lightgray;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.151);
    border-radius: 50px;
    /* gap: 10px; */
}

#game {
    /* border: 2px solid orange; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.gameBoard {
    /* border: 2px solid red; */
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header {
    /* border: 2px solid blue; */
    font-size: xx-large;
    /* margin-bottom: 100px; */
}